@import url(../styles/fonts.css);

.custom-shadow:hover {
  box-shadow: 0 1px 50px 3px oklch(0.49 0.27 294.54);
}
.custom-shadow-2:hover {
  box-shadow: 0 0 20px 3px oklch(0.457 0.24 277.023);
}
/* start scrollbar section  */

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  display: none;
   cursor: url("../img/cursors/custom-pointer.png") 16 16 , pointer;
}
::-webkit-scrollbar {
  width: 5px;
   cursor: url("../img/cursors/custom-pointer.png") 16 16 , pointer;
}

::-webkit-scrollbar-track {
  background: #020618;
  border-radius: 10px;
   cursor: url("../img/cursors/custom-pointer.png") 16 16 , pointer;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #6d20e9, oklch(0.585 0.233 277.117));
  border-radius: 10px;
}
/* finish scrollbar section  */

/* start loader section  */
    
      .loading-img {
        animation: loading-img 12s linear infinite;
      }


      .loading-text {
		font-family: fantasy;
        background: linear-gradient(
          90deg,
          #d81939 0%,
          #13bde8 60%,
          #d81939 100%
        );

        background-size: 400% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: loading-text 20s linear infinite;
      }
    
/* finish loader section  */

/* start swiper  section */
.swiper-pagination-bullet {
  background-color: #43484d;
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 5px !important;
}
.swiper-pagination-bullet-active {
  background: #6a79fa;
}
.animated {
  transform: translateY(50px);
  opacity: 0.6;
}
.swiper-slide-active .animated {
  transition: transform 2s ease;
  opacity: 1;
  transform: translateY(0px);
}
.card-parent {
  perspective: 1500px;
}
.card {
  font-weight: bold;
  text-align: left;
  height: 100%;
  box-shadow: 0 1px 5px #00000099;
  border-radius: 15px;
  background-size: cover;
  position: relative;
  transition: transform, box-shadow, font-size 0.3s ease-in-out;
  transform: rotate3d(0);
  display: block;
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}
.card:hover .glow {
  display: block;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  background-image: radial-gradient(circle at 50% -20%, #ffffff10, #00000009);
}
/* finish swiper  section */

/* start cursor section */
html {
  cursor: url("../img/cursors/custom-cursor.png") 16 16 , auto;
}
button , a , select{
  cursor: url("../img/cursors/custom-pointer.png") 16 16 , pointer;
}
/* finish cursor section */

/* start animations section  */
 @keyframes loading-img {
        0% {
          transform: translate(0);
        }

        10% {
          transform: translate(-25px, -25px);
        }

        20% {
          transform: translate(25px, -25px);
        }

        30% {
          transform: translate(-25px, 25px);
        }

        40% {
          transform: translate(25px, 25px);
        }

        50% {
          transform: translate(-25px, -25px);
        }

        60% {
          transform: translate(25px, -25px);
        }

        70% {
          transform: translate(-25px, 25px);
        }

        80% {
          transform: translate(-25px, -25px);
        }

        90% {
          transform: translate(25px, -25px);
        }

        100% {
          transform: translate(0);
        }
      }
        @keyframes loading-text {
        to {
          background-position: 400% center;
        }
      }

/* finish animations section  */


@theme {
  --font-iran-sans: "iran-sans";
  --font-kalam: "kalam";
  --font-kalam-bold: "kalam-bold";
  --font-iran-num: "iran-num";
}
@import "tailwindcss";
