@import url(../styles/fonts.css);

.custom-shadow:hover {
  box-shadow: 0 1px 50px 3px oklch(0.49 0.27 294.54);
}
.custom-shadow-2:hover{
  box-shadow: 0 0 20px 3px oklch(0.457 0.24 277.023);
  
}
/* start scrillbar section  */

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  display: none;
}
::-webkit-scrollbar {
  width: 5px; 
}

::-webkit-scrollbar-track {
  background: #020618; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background:linear-gradient(to bottom , #6d20e9, oklch(0.585 0.233 277.117)); 
  border-radius: 10px; 
}
/* finish scrollbar section  */


/* start loader section  */
.loader-container{
  display: flex ;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid #4f39f6;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 

/* finish loader section  */
.swiper-pagination-bullet {
  background-color: #43484d ; 
  width: 10px;
  height: 10px;
  opacity: 1;
  margin: 0 5px !important;
}
.swiper-pagination-bullet-active {
  background: #6a79fa; 
}
.animated{
  transform: translateY(50px);
  opacity: .6;
}
.swiper-slide-active .animated{
  transition: transform 2s ease;
  opacity: 1;
  transform: translateY(0px);
}




.card-parent{
    perspective: 1500px;

}
.card {
  font-weight: bold;
  padding: 1em;
  text-align: left;
  height: 100%;
  box-shadow: 0 1px 5px #00000099;
  border-radius: 15px;
  /* background-image: url(../img/games-section/2.webp); */
  background-size: cover;
  position: relative;
  transition: transform, box-shadow , font-size  .3s ease-in-out;
  transform: rotate3d(0);
  display: block;
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}
.card:hover .glow{
  display: block;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: none;
  background-image: radial-gradient(circle at 50% -20%, #ffffff10, #00000009);
}
@theme {
  --font-iran-sans: "iran-sans";
  --font-kalam: "kalam";
  --font-kalam-bold: "kalam-bold";
  --font-iran-num: "iran-num";
}
@import "tailwindcss";
